#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navegacao {
  display: flex;
  gap: 0.1rem;
  margin-top: 1rem;
  justify-content: space-between;
  & > input {
    visibility: hidden;
  }
  & > label {
    width: 30%;
    background-color: #1f1f1f;
    color: #f0f0f0;
    border-radius: 10px;
    padding: 0.5rem 0;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    &:hover {
      background-color: #002;
    }
  }
}


input:checked + label {
  box-shadow: 3px 2px 10px #002;
  background-color: #000050;
}


.container-item-cardapio {
  display: flex;
  width: 33rem;
  padding: 1rem;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: -2px 2px 20px #002;
  & > img {
    height: 11rem;
  }
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 60%;
    flex-grow: 0;
    & > h2 {
      font-weight: 600;
    }
  }
}



.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-between;
  margin-top: 50px;
}

.capa {
  max-height: 15rem;
  width: 100%;
  object-fit: cover;
}

